@using QueerUni.Models
@model QueerUni.Models.Student

<div class="container">
    <div class="puff-in-hor">
        <h1>Information for @Model.Name</h1>
    </div>

    @if (@Model.JoinEntities.Count == 0)
    {
        <h3>You haven't chosen any tracks </h3>
        <button type="button" class="btn btn--blue">
            <span class="btn__txt">@Html.ActionLink("Register Here", "Register", "Students")</span>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
        </button>
    }
    else
    {   
        <h2>The tracks you are registered for:</h2>
        <ul>
        @foreach(StudentTrack join in Model.JoinEntities)
        {
            <li>Track Name: @join.Track.TrackName</li>
            <li>Track Number: @join.Track.TrackId</li>
        }
        </ul>
        <p>
            @Html.ActionLink("Edit", "Edit", "Students", new { id = Model.StudentId }, null)
        </p>

        <button type="button" class="btn btn--blue">
            <span class="btn__txt">@Html.ActionLink("Home", "Index", "Home")</span>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
        </button>
    }
</div>

