@{
 Layout = "_Layout";
}

@using QueerUni.ViewModels
@model LoginViewModel

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
 <p>You are logged in as: @User.Identity.Name!</p>

 @Html.ActionLink("Click here to view your Student Information!", "Index", "Students")

        <button type="button" class="btn btn--blue">
            <span class="btn__txt">@Html.ActionLink("Home", "Index", "Home")</span>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
            <i class="btn__bg" aria-hidden="true"></i>
        </button>
        <br>
 @using (Html.BeginForm("LogOff", "Account"))
 {
  <input type="submit" class="button" value="Log out"/>
 }
}
else
{
 <p>@Html.ActionLink("Register", "Register")</p>
 <p>@Html.ActionLink("Log in", "Login")</p>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>