@{
  Layout = "_Layout";
}

<p class="icon">@Html.ActionLink("Home", "Index", "Home")</p>

<h1>
LGBTQIA+ MENTORSHIP,
EDUCATION, AND EMPOWERMENT *FREE</h1>
<h2>
Discover a supportive and inclusive learning environment tailored to the unique needs and experiences of the LGBTQIA+ community. Track 1 is designed to empower individuals from diverse backgrounds to achieve their educational goals and unlock new opportunities.<h2>
<h3>Sample of classes<h3>
<h3>Education(umbrella)</h3>
<p>GED course and Tutors and Mentors</p>
<p class="icon">@Html.ActionLink("Read More", "Track1Info", "Tracks")</p>
<h3>Creativity(umbrella)</h3>
<p>Creative writing and physical expression</p>
<p class="icon">@Html.ActionLink("Read More", "Track2Info", "Tracks")</p>
<h3>Support(umbrella)</h3>
<p>Legal Advocacy and Resume development</p>
<p class="icon">@Html.ActionLink("Read More", "Track3Info", "Tracks")</p>






<p class="icon">@Html.ActionLink("Back", "Index", "Tracks")</p>

